.nav-mega-menu  {
  padding: 0;
}
.nav-mega-menu .nav-sub-menu {
  background: #eeeeee;
  border-bottom: 1px solid #dddddd;
  left: 0;
  list-style-type: none;
  opacity: 0;
  padding: 1rem 2rem;
  position: absolute;
  top: -9999px;
  transition: opacity 500ms;
  width: 100%;
}

.nav-mega-menu .has-child:hover .nav-sub-menu {
  opacity: 1;
  top: 100%;
}